// Fonts
.font-size(@size){
	font-size: unit( (@size * 10), px);
	font-size: unit(@size, rem);
}
// Opacity

.opacity(@opacity) {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}


.placeholder(@rules) {
    ::-webkit-input-placeholder { @rules(); }
    ::-moz-placeholder { @rules(); }
    :-ms-input-placeholder { @rules(); }
}


.square( @size ) {
	width: @size;
	height: @size;
}

.keyframes(@name; @arguments) {
  @-moz-keyframes @name { @arguments(); }
  @-webkit-keyframes @name { @arguments(); }
  @keyframes @name { @arguments(); }
}

.animation(@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}
