<ul>
    <li>
        <a href="#">
            <img src="img/svgs/Smoke.svg" alt="Reportar">
            <span>Pollution</span>
        </a>
    </li>

    <li>
        <a href="#" id="map-button">
            <img src="img/svgs/Sintomas.svg" alt="Reportar">
            <span>Symptoms</span>
        </a>
    </li>
</ul>