<ul>
    <li>
        <a href="#map/pollution">
            <img src="img/svgs/Smoke.svg" alt="Reportar">
            <span>Pollution</span>
        </a>
    </li>

    <li>
        <a href="#" id="symptoms-subitems-button">
            <img src="img/svgs/symptoms.svg" alt="Reportar">
            <span>Symptoms</span>
        </a>
    </li>

    <li>
        <a href="#map/heatmap" id="heatmap-layer-button">
            <img src="img/svgs/symptoms.svg" alt="Reportar">
            <span>Heatmap</span>
        </a>
    </li>
</ul>