<ul>
    <li>
        <a href="#map/pollution">
            <img src="img/svgs/smoke.svg" alt="Reportar">
            <span>Pollution</span>
        </a>
    </li>

    <li>
        <a href="#map/symptoms">
            <img src="img/svgs/sintomas.svg" alt="Reportar">
            <span>Symptoms</span>
        </a>
    </li>
</ul>