/**
* Main Stylesheet for menu
*
* Modify this stylesheet in order to stylizing the global menu
*
*
*/
#aircheck-menu {
	position: fixed;
	width: 100%;
	box-shadow: 0 1px 1px 1px fadeout(@black, 70%);
	background-color: @white;
	z-index: @z-index-menu;

	.menu-button {
		color: lighten(@black, 50%);
		padding: 8px;
		line-height: 0;
		.font-size(2);
	}
}

#aircheck-menu-aside {
	position: fixed;
	width: 60%;
	height: 100%;
	max-width: 320px;
	padding: 12px;
	top: 40px;
	left: 0;
	z-index: @z-index-menu - 1;
	background-color: @white;
	transition: transform 0.3s;
	transform: translateX(-100%);
	overflow-y: auto;

	&.active { transform: translateX(0); }
	
	ul , li, a { display: inline-block; width: 100%; }

	a {
		display: inline-block;
		padding: 12px;
		border-bottom: 0.5px solid @light-gray;
		font-weight: @font-normal;
		.font-size(1.1);
		color: @gray;

		> * { display: inline-block; vertical-align: middle; }

		i {
			margin-right: 5px;
			line-height: normal;
			max-height: 25px;
			.font-size(1.8);
		}

	}
}