/**
* Main Stylesheet for menu report
*
* Modify this stylesheet in order to stylizing the global menu report
*
*
*/
#aircheck-report-menu {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: @z-index-menu;
	transition: transform 0.3s;
	transform: translateY(calc(100% - 39px));

	&.active {
		transform: translateY(0);

		#toggle-report-menu-button i:before { content: '\62'; }
	}


	#toggle-report-menu-button {
		display: inline-block;
		padding: 5px 0 0;
		width: 90%;
		margin: 0 auto;
		background-color: @dark-gray;
		color: @white;

		border-top-left-radius: 35px;
		border-top-right-radius: 35px;

		.font-size(1.8);
	}
}

#aircheck-report-submenu {
	padding: 12px;
	float: left;
	width: 100%;
	background-color: @gray;

	ul {
		text-align: center;

		li {
			display: inline-block;
			vertical-align: top;
			margin: 5px;
			max-width: 70px;
		}
	}

	a {
		max-width: 65px;
	    color: @white;
	    text-align: center;
	    font-weight: @font-normal;

		> * { display: inline-block; width: 100%; }

		img {
			width: 60px;
		    border: 3px solid @dark-gray;
		    border-radius: 100%;
		    background-color: @white;
		}

		span { margin-top: 5px; }
	}
}

#aircheck-sublayers {

	position: fixed;
	width: 100%;
	height: 70%; 
	bottom: 0;
	background-color: @gray;
	color: @white;
	z-index: (@z-index-menu - 1);
	transition: transform 0.3s;
	transform: translateY(100%);

	&.active { transform: translateY(0); }

	ul {
		margin: 15px auto;
		text-align: center;

		li {
			list-style-type: none;
			list-style: none;

			a {
				display: inline-block;
				max-width: 64px;
				max-height: 64px;
				background-color: @white;
				border-radius: 100%;
				border: 2px solid @orange;
				text-align: center;
				color: @white;
				font-weight: @font-bold;

				> * { display: inline-block; }

				img {
					width: 60px;
					margin-bottom: 8px;
				}
			}
		}
	}
}

.levels-container {

	h3 {
		color: @white;
		margin: 30px 0;
	}

	.set-level-button {
		background-color: @white;
		padding: 15px;
		margin: 15px 0;
		margin-bottom: 35px;
		width: 50px;
		height: 50px;
		line-height: 0;
		border-radius: 100%;
		font-weight: @font-bold;

		&.active {
			background-color: @orange;
			color: @white;
		}

	}
}