<ul>
                    <li>
                        <a href="#" id="report-button">
                            <img src="img/svgs/Report.svg" alt="Reportar">
                            <span>Report</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" id="map-button">
                            <img src="img/svgs/Mapa.svg" alt="Reportar">
                            <span>Map</span>
                        </a>
                    </li>
                </ul>