
<form id="user-profile-register-form">
	<div class="user-image">
		<i class="air-icon-user"></i>
	</div>
	
	<input class="form-input white" type="text" name="name" id="name" placeholder="Full name"/>

	<input class="form-input white" type="email" name="email" id="email" placeholder="Email">

	<input class="form-input white" type="text" name="age" placeholder="Age"/>

	<input class="form-input white" type="text" name="allergy" placeholder="Allergy"/>

	<button type="button" class="btn btn-default" id="register-profile-button">Sign Up</button>
</form>