<ul>
    <li>
        <a href="#map/pollution">
            <img src="img/svgs/smoke.svg" alt="Reportar">
            <span>Pollution</span>
        </a>
    </li>

    <li>
        <a href="#" id="symptoms-subitems-button">
            <img src="img/svgs/symptoms.svg" alt="Reportar">
            <span>Symptoms</span>
        </a>
    </li>

    <li>
        <a href="#" id="aerosol-subitems-button">
            <img src="img/svgs/CFC.svg" alt="Reportar">
            <span>Aerosol</span>
        </a>
    </li>

    <li>
        <a href="#" id="dioxide-subitems-button">
            <img src="img/svgs/CO2.svg" alt="Reportar">
            <span>CO2</span>
        </a>
    </li>
</ul>