<ul class="row">
    <li class="col-xs-3">
        <a href="#map/symptoms">
            <img src="img/svgs/Flu.svg" alt="">
            <span>Flu</span>
        </a>
    </li>

    <li class="col-xs-3">
        <a href="#map/symptoms">
            <img src="img/svgs/cough.svg" alt="">
            <span>Cough</span>
        </a>
    </li>


    <li class="col-xs-3">
        <a href="#map/symptoms">
            <img src="img/svgs/drowning.svg" alt="">
            <span>Drowning</span>
        </a>
    </li>

    <li class="col-xs-3">
        <a href="#map/symptoms">
            <img src="img/svgs/Allergies.svg" alt="">
            <span>Allergies</span>
        </a>
    </li>
</ul>