<form id="user-profile-update-form">
	<label for="name">Name:</label>
	<input type="text" name="name" id="name" placeholder="Write your name here"/>

	<label for="age">Age:</label>
	<input type="text" name="age" placeholder="Write your age here"/>

	<button type="button" id="update-profile-button">Update</button>
</form>