<div class="notification show container-fluid">
	<div class="col-xs-1 col-sm-2">
		<i class="air-icon-radar"></i>
	</div>
	<div class="col-xs-11 col-sm-10">
		<p class="message">
			Hola mundo
		</p>
	</div>
</div>