<div class="container-fluid levels-container">
	<div class="row">
		<div class="col-xs-12">
			<h3>How strong or severe is your report?</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-2">
			<button class="set-level-button active" data-level="1">1</button>
		</div>
		<div class="col-xs-2">
			<button class="set-level-button" data-level="2">2</button>
		</div>
		<div class="col-xs-2">
			<button class="set-level-button" data-level="3">3</button>
		</div>
		<div class="col-xs-2">
			<button class="set-level-button" data-level="4">4</button>
		</div>
		<div class="col-xs-2">
			<button class="set-level-button" data-level="5">5</button>
		</div>
		<div class="col-xs-1">
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="btn btn-green" id="save-report-button">Send Report</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button type="button" class="btn btn-red" id="cancel-report-button">Cancel</button>
		</div>
	</div>
</div>