<ul>
    <li>
        <a href="#" class="report-air-button" data-subtype="fire" data-type="pollution">
            <img src="img/svgs/fire.svg" alt="Reportar">
            <span>Fire</span>
        </a>
    </li>

    <li>
        <a href="#" class="report-air-button" data-subtype="smoke" data-type="pollution">
            <img src="img/svgs/smoke.svg" alt="Reportar">
            <span>Smoke</span>
        </a>
    </li>

    <li>
        <a href="#" class="report-air-button" data-subtype="dust" data-type="pollution">
            <img src="img/svgs/dust.svg" alt="Reportar">
            <span>Dust</span>
        </a>
    </li>

    <li>
        <a href="#" class="report-air-button" data-subtype="traffic" data-type="pollution">
            <img src="img/svgs/traffic.svg" alt="Reportar">
            <span>Traffic</span>
        </a>
    </li>
</ul>

<div class="container">
   <div class="row">
       <div class="col-xs-6">
           <button type="button" class="btn btn-green" id="symptoms-button">Symptoms</button>
       </div>

       <div class="col-xs-6">
           <button type="button" class="btn btn-green" id="camera-button">Camera</button>
       </div>
   </div>
</div>