<ul>
    <li>
        <a href="#">
            <img src="img/svgs/Allergies.svg" alt="Reportar">
            <span>Allergies</span>
        </a>
    </li>

    <li>
        <a href="#">
            <img src="img/svgs/cough.svg" alt="Reportar">
            <span>Cough</span>
        </a>
    </li>

	<li>
        <a href="#">
            <img src="img/svgs/Flu.svg" alt="Reportar">
            <span>Flu</span>
        </a>
    </li>

    <li>
        <a href="#">
            <img src="img/svgs/Breath.svg" alt="Reportar">
            <span>Drowning</span>
        </a>
    </li>
</ul>