<ul>
    <li>
        <a href="#" class="report-air-button" data-subtype="allergies" data-type="symptoms">
            <img src="img/svgs/Allergies.svg" alt="Reportar">
            <span>Allergies</span>
        </a>
    </li>

    <li>
        <a href="#" class="report-air-button" data-subtype="cough" data-type="symptoms">
            <img src="img/svgs/cough.svg" alt="Reportar">
            <span>Cough</span>
        </a>
    </li>

	<li>
        <a href="#" class="report-air-button" data-subtype="flu" data-type="symptoms">
            <img src="img/svgs/Flu.svg" alt="Reportar">
            <span>Flu</span>
        </a>
    </li>

    <li>
        <a href="#" class="report-air-button" data-subtype="drowning" data-type="symptoms">
            <img src="img/svgs/Breath.svg" alt="Reportar">
            <span>Drowning</span>
        </a>
    </li>
</ul>